:root {
  margin: 0;
  padding: 0;
  --primary-color-1: #F9F5F8;
  --primary-color-2: #2F362B;
  --accent-color-1: #FFFFFF;
  --pink-gradient: linear-gradient(to bottom, #F9F5F8, #E0D5DD);
  --green-gradient: linear-gradient(to bottom, #2F362B, #1F241C);
  --webkit-pink-gradient: -webkit-linear-gradient(to bottom, #F9F5F8, #E0D5DD);
  --webkit-green-gradient: -webkit-linear-gradient(to bottom, #2F362B, #1F241C);
  --primary-font: 'Inter', sans-serif;
  --secondary-font: 'Times Now', serif;
}

a {
  text-decoration: none;
}
a:hover {
  
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-container {
  height: 100%;
  overflow: hidden; /* Prevent scrolling on the app container */
}

.snap-container {
  min-height: 100vh; /* Full viewport height */
  overflow-y: scroll;
  scroll-snap-align: start;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.snap-section {
  min-height: 100vh; /* Full viewport height */
  scroll-snap-align: start;
  scroll-snap-stop: always;
}


body {
  background: #F9F5F8; /* fallback for old browsers */
  background: var(--webkit-pink-gradient) !important; /* Chrome 10-25, Safari 5.1-6 */
  background: var(--pink-gradient) !important; 
  font-family: var(--primary-font);
  margin: 0;
  padding: 0;
  height: 100vh;
  min-height: 100vh;
  font-size: 1rem;
  line-height: 1.2;
}

.body-text {
  font-family: var(--secondary-font);
  color: var(--primary-color-2);
}

/* text */

.content {
  display: flex;
  flex-direction: column;
  padding: 10rem;
}


/* biographies */

.bio-grid {
  display: flex;

}

.bio-content {
  display: flex;
  
}


@media (max-width: 768px) {
  .hero {
    padding: 2rem;
  }
  .landing-content {
    background-size: cover;
  }
}
